<div id="<%= dom_id twitt %>">

<div class="card">
  <div class="card-body">   
    <h6 class="card-subtitle mb-2 text-body-secondary">Usuario: <%= twitt.username %></h6>
    <p class="card-text">Comentario: <%= twitt.description %> </p>
  </div>
</div>
</div>
