<% content_for :title, "New twitt" %>

<div class="my-5 pt-5">
<h2>Nuevo Twitt</h2>
<div>

<%= render "form", twitt: @twitt %>

<br>

<div>
  <%= link_to "Volver a los twitts", twitts_path, class:"btn btn-primary" %>
</div>
